
.content p{
   margin: 50px;
}

.content img{ 
    margin: 10px;
    width: 4.5in;
    height: 4.5in;
}


#sugar, #bundle, #choclate {
    margin: 10px;
}


h1{
    text-align: center;
    padding: 15px 0 0 0;
    font-family: 'Nunito', sans-serif;
}
#links li a{
    color: #edede9;
    font-size: 1.25rem;
    padding: 0 0 0 5px;
    margin: 5px;
}
#links li a:hover{
    color: #9d4edd;
}
#links{
    margin-right: 20px;
}
footer{
    background-color: #606c38;
    color: white;
    padding: 5px 5px 5px 10px;
}